<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
  <script defer src="../js/board.js"></script>
  <script src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
  <div id="board">
    <h2>게시판</h2>
    <form name="frmBoard" method="post" class="frmBoardFind">
      <!--th:value 속성을 사용하여 페이지에서 가져온 검색어를 설정-->
      <input type="text" size="40" th:value="${page.findStr}" placeholder="제목, 내용, 작성자" name="findStr" class="findStr">
      <!--현재 페이지를 나타내는 숨겨진 입력 필드로, th:value 속성을 사용하여 페이지에서 가져온 현재 페이지 값을 설정-->
      <input type="hidden" name="nowPage" th:value="${page.nowPage}">
      <button type="button" class="btnFind">검색</button>
    </form>
    
    <div class="itemList">
      <div class="title">
        <span class="sno">SNO</span>
        <span class="subject">제목</span>
        <span class="id">작성자</span>
        <span class="nal">작성일</span>
        <span class="hit">조회수</span>
      </div>

      <div class="items">
        <!--각 게시글의 정보를 나타내는 부분으로, Thymeleaf의 반복문인 th:each를 사용하여 리스트(list)의 각 항목(v)을 반복-->
        <!--th:onclick 속성을 사용하여 해당 게시글의 상세보기를 처리할 클라이언트 측 함수를 호출-->
        <div class="item" th:each="v:${list}" th:onclick="view([[${v.sno}]])">
          <!--Thymeleaf의 th:text 속성을 사용하여 해당 게시글의 일련번호(v.sno)를 텍스트로 설정-->
          <span class="sno" th:text="${v.sno}">1</span>
          <!--Thymeleaf의 th:utext 속성을 사용하여 조건에 따라 제목 앞에 '|' 기호를 붙일지 말지를 결정, v.attCnt는 해당 글에 첨부된 파일의 개수를 나타내며, 만약 1개 이상의 파일이 첨부되어 있다면 '|' 기호를 붙임-->
          <span class="subject" th:utext="${v.attCnt>0} ? '|' + ${v.subject} : ${v.subject}">제목</span>
          <!--th:text 속성을 사용하여 해당 게시글의 작성자 아이디(v.id)를 텍스트로 설정-->
          <span class="id" th:text="${v.id}">작성자</span>
          <!--th:text 속성을 사용하여 해당 게시글의 작성일(v.nal)을 텍스트로 설정-->
          <span class="nal" th:text="${v.nal}">작성일</span>
          <!--th:text 속성을 사용하여 해당 게시글의 조회수(v.hit)를 텍스트로 설정-->
          <span class="hit" th:text="${v.hit}">조회수</span>
        </div>
      </div>

      <div class="btnZone">
        <!--시작 페이지가 1보다 큰 경우에만 이 블록이 렌더링되며, 이전 페이지로 이동하는 "처음" 버튼과 "이전" 버튼이 나타남-->
        <th:block th:if="${page.startPage gt 1}">
          <!--처음 페이지로 이동하는 버튼, 클릭 시 move 함수에 1을 인자로 전달하여 처리-->
          <button type="button" class="btnFirst" onclick="move(1)">처음</button>
          <!-- 이전 페이지로 이동하는 버튼, move 함수에 현재 페이지보다 1 작은 값을 전달하여 처리-->
          <button type="button" class="btnPrev" th:value="${page.startPage-1}" onclick="move(this.value)">이전</button>
        </th:block>

        <!--시작 페이지부터 끝 페이지까지의 범위에 해당하는 페이지 번호들을 반복하며 각각의 페이지 번호를 나타내는 버튼들을 생성-->
        <th:block th:each="v : ${#numbers.sequence(page.startPage, page.endPage,1)}">
          <!--각 페이지 번호를 나타내는 버튼, 현재 페이지와 해당 페이지 번호(v)가 같으면 'now' 클래스를 추가하여 현재 페이지를 강조하고, 클릭 시 move 함수에 해당 페이지 번호를 전달하여 처리-->
          <button type="button" class="btnNum" th:class="${page.nowPage eq v}? 'now' : 'btnNum'" onclick="move(this.value)" th:text="${v}" th:value="${v}"></button>
        </th:block>

        <!--끝 페이지가 전체 페이지 수보다 작은 경우에만 이 블록이 렌더링되며, 다음 페이지로 이동하는 "다음" 버튼과 "맨끝" 버튼이 나타남-->
        <th:block th:if="${page.endPage lt page.totPage}">
          <!--다음 페이지로 이동하는 버튼, move 함수에 현재 끝 페이지보다 1 큰 값을 전달하여 처리-->
          <button type="button" class="btnNext" th:value="${page.endPage +1}" onclick="move(this.value)">다음</button>
          <!--맨 끝 페이지로 이동하는 버튼, 클릭 시 move 함수에 전체 페이지 수를 전달하여 처리-->
          <button type="button" class="btnLast" th:value="${page.totPage}" onclick="move(this.value)">맨끝</button>
        </th:block>
      </div>
    </div>
    <button type="button" class="btnRegister">글쓰기</button>
  </div>
</body>
</html>