<!DOCTYPE html> <!--HTML5로 작성되었음을 선언-->
<html lang="ko"> <!--HTML 문서의 시작, 문서의 언어 속성이 "ko"로 설정-->
<head> <!--HTML 문서의 헤드 섹션 정의, 메타데이터와 스타일 및 스크립트 파일과 같은 외부 자원에 대한 참조가 포함-->
  <meta charset="UTF-8"> <!--문서의 문자 인코딩 설정-->
  <!--반응형 웹 디자인을 위한 viewport 설정-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INDEX</title> <!--문서의 제목-->
  <script defer src="../js/index.js"></script>
  <!--JQuery 라이브러리 로드-->
  <script src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body> <!--HTML 문서의 본문을 정의-->

  <header th:replace="~{layout/header::header}"></header>

  <div class="content">
    <section class="section">SECTION</section>
    <aside th:replace="~{layout/aside::aside}"></aside>
  </div>

  <footer th:replace="~{layout/footer::footer}"></footer>
</body>
</html>
<!--수정됐냐-->