<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <typeAliases>
    <typeAlias type="com.example.demo.board.BoardVo" alias="BoardVo"/>
    <typeAlias type="com.example.demo.board.Page" alias="Page" />
    <typeAlias type="com.example.demo.board.BoardAtt" alias="BoardAtt" />
    <typeAlias type="com.example.demo.student.LoginVo" alias="LoginVo" />
    <typeAlias type="com.example.demo.join.JoinVo" alias="JoinVo" />
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/lecture" />
        <property name="username" value="hong" />
        <property name="password" value="1111" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="com/example/demo/mybatis/login.xml"/>
    <mapper resource="com/example/demo/mybatis/board.xml"/>
    <mapper resource="com/example/demo/mybatis/join.xml"/>
  </mappers>
</configuration>